/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/pages/welcome.css ***!
  \*****************************************************************************/
body {
  background: #262644;
}

h1 {
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

.title {
  background-color: #fff;
  color: #262644;
}

/*!************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/css/style.css ***!
  \************************************************************************************************************/


/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden; }
  body h1 {
    display: inline; }
  body img {
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 6px; }
  body a {
    display: block;
    margin-block: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #fff; }

.about a {
  background-color: #fff;
  color: #262644; }

.about h2 {
  color: #fff;
  text-decoration: underline; }

